* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #00ffcc;
  font-family: Arial;
}

/* PARTICLES */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,0,0,0.7);
  position: sticky;
  top: 0;
}

.navbar a {
  color: #00ffcc;
  margin: 0 10px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 60px;
}

/* SECTION */
.section {
  padding: 80px 20px;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: rgba(0,255,204,0.05);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #00ffcc;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ffcc;
}

/* BUTTON */
.btn {
  margin-top: 10px;
  display: inline-block;
  background: #00ffcc;
  color: black;
  padding: 5px 10px;
}

/* SKILLS */
.skill {
  margin: 20px auto;
  width: 60%;
}

.bar {
  background: #222;
  height: 10px;
}

.progress {
  background: #00ffcc;
  height: 10px;
}

/* REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(50px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

/* CURSOR */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: #00ffcc;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #00ffcc;
}
