body {
  margin: 0;
  font-family: Arial;
  background: #020617;
  color: #cbd5e1;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  color: #38bdf8;
  font-size: 50px;
}

/* ABOUT */
.about-section {
  padding: 80px 20px;
  text-align: center;
}

.section-tag {
  color: #2dd4bf;
}

.main-title span {
  color: #2dd4bf;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin-top: 40px;
}

/* CARDS */
.card {
  background: #0f172a;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(45,212,191,0.3);
}

/* ICON */
.icon {
  font-size: 20px;
  margin-bottom: 10px;
}

/* GRID */
.section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 25px;
}

/* FILE CARD */
.card-top {
  display: flex;
  justify-content: space-between;
}

.file-icon {
  background: #022c22;
  padding: 8px;
  border-radius: 8px;
}

.year {
  color: #94a3b8;
}

/* BUTTONS */
.card-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  background: #2dd4bf;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.btn-outline {
  border: 1px solid #2dd4bf;
  padding: 5px 10px;
  color: #2dd4bf;
  text-decoration: none;
}

/* CERT IMAGE */
.cert-img {
  width: 100%;
  border-radius: 10px;
}

/* FILTER */
.filter-buttons {
  text-align: center;
  margin: 30px;
}

.filter-buttons button {
  padding: 8px 15px;
  margin: 5px;
  background: #0f172a;
  color: #2dd4bf;
  border: 1px solid #2dd4bf;
  border-radius: 20px;
  cursor: pointer;
}

.filter-buttons .active {
  background: #2dd4bf;
  color: black;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.modal iframe {
  width: 80%;
  height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}